@model GameForum.ViewModels.UserViewModel
@using System.Web
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
}

<head>
    <meta charset="UTF-8">
    <title>Форум</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LAB1.styles.css" asp-append-version="true" />
    <style>
        .container1 {
            display: flex;
            justify-content: center; /* Center the content horizontally */
            align-items: center; /* Center the content vertically */
            min-height: 100vh; /* Set minimum height to the full viewport height */
            color: wheat;
        }

        .card {
            width: 50%; /* Adjust the card width as needed */
            margin: 20px;
            padding: 20px;
            background-color: rgba(0,0,0, 0.8);
        }

        .user-image {
            max-width: 50%;
            height: auto;
            border-radius: 50%; /* Make the image round */
        }

        .profile-info {
            margin-top: 20px;
        }

    </style>
</head>
<body>
    <div class="container1">
        <div class="card">
            <div class="text-center">
                @switch (Model.Sex)
                {
                    case "Man":
                        <img src="~/css/Man.jpg" class="user-image" />
                        break;
                    case "Woman":
                        <img src="~/css/Woman.jpg" class="user-image" />
                        break;
                    case "Knight":
                        <img src="~/css/Knight.jpg" class="user-image" />
                        break;
                    default:
                        <img src="~/css/Knight.jpg" class="user-image" />
                        break;
                }
            </div>

            <div class="profile-info">
                <h4 class="card-title text-center">@Localizer["About"]</h4>
                <hr />

                <dl class="row">
                    <dt class="col-sm-3">@Localizer["Name"]</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

                    <dt class="col-sm-3">@Localizer["Username"]</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.UserName)</dd>

                    <dt class="col-sm-3">@Localizer["Age"]</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Age)</dd>

                    <dt class="col-sm-3">@Localizer["Aboutself"]</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>

                    <dt class="col-sm-3">@Localizer["Birthday"]:</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.FormattedBirthDay)</dd>
                    
                    @if (Model.IsBanned == true)
                    {
                        <dt class="col-sm-3">@Localizer["IsBan"]</dt>
                        <dd class="col-sm-9">@Localizer["hav"]</dd>
                    }

                    @if (Model.IsMuted == true)
                    {
                        <dt class="col-sm-3">@Localizer["IsMute"]</dt>
                        <dd class="col-sm-9">@Localizer["hav"]</dd>
                    }

                    <dt class="col-sm-3">Стать:</dt>
                    <dd class="col-sm-9">
                        @switch (Model.Sex)
                        {
                            case "Man":
                                <p>@Localizer["Man"]</p>
                                break;
                            case "Woman":
                                <p>@Localizer["Woman"]</p>
                                break;
                            case "Knight":
                                <p>@Localizer["Knight"]</p>
                                break;
                            default:
                                <p>_______</p>
                                break;
                        }
                    </dd>

                    <div class="d-flex justify-content-between">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            if (UserManager.GetUserId(User) == Model.Id)
                            {
                                <form clas="form-button" asp-controller="Forum" asp-action="Edit" method="get" asp-route-id="@Model.Id">
                                    <button class="form-button" class="btn btn-secondary ml-2">
                                        @Localizer["Redact"]
                                    </button>
                                </form>
                                <form clas="form-button" asp-controller="Forum" asp-action="ChangePassword" method="get" asp-route-id="@Model.Id">
                                    <button class="form-button" class="btn btn-secondary ml-2">
                                        Change password
                                    </button>
                                </form>
                                <form clas="form-button" asp-controller="UserAuth" asp-action="UserList" method="get">
                                    <button class="form-button" class="btn btn-secondary ml-2">
                                        Search???
                                    </button>
                                </form>
                            }

                            if (User.IsInRole("Admin") && UserManager.GetUserId(User) != Model.Id)
                            {
                                <div class="form-group">
                                    @if (Model.IsBanned == false)
                                    {
                                        <form clas="form-button" asp-action="Ban" asp-route-id="@Model.Id">
                                            <button class="form-button" class="btn btn-secondary ml-2">
                                                @Localizer["Ban"]
                                            </button>
                                        </form>
                                    }
                                    else
                                    {
                                        <form clas="form-button" asp-action="UnBan" asp-route-id="@Model.Id">
                                            <button class="form-button" class="btn btn-secondary ml-2">
                                                @Localizer["Unban"]
                                            </button>
                                        </form>
                                    }
                                </div>
                            }

                            if (User.IsInRole("Admin") && UserManager.GetUserId(User) != Model.Id)
                            {
                                <div class="form-group">
                                    @if (Model.IsMuted == false)
                                    {
                                        <form clas="form-button" asp-action="Mute" asp-route-id="@Model.Id">
                                            <button class="form-button" class="btn btn-secondary ml-2">
                                                @Localizer["Silent"]
                                            </button>
                                        </form>
                                    }
                                    else
                                    {
                                        <form clas="form-button" asp-action="UnMute" asp-route-id="@Model.Id">
                                            <button class="form-button" class="btn btn-secondary ml-2">
                                                @Localizer["Unsilent"]
                                            </button>
                                        </form>
                                    }
                                </div>
                            }
                        }
                    </div>
                </dl>
            </div>
        </div>
    </div>
</body>