@using Microsoft.AspNetCore.Identity
@model GameForum.ViewModels.UpdUserViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<style>
    .container1 {
        display: flex;
        justify-content: center; /* Center the content horizontally */
        align-items: center; /* Center the content vertically */
        min-height: 100vh; /* Set minimum height to the full viewport height */
    }

    .card {
        width: 50%; /* Adjust the card width as needed */
        margin: 20px;
        padding: 20px;
        background-color: rgba(0,0,0, 0.8);
        color: wheat;
    }

    .user-image {
        max-width: 50%;
        height: auto;
        border-radius: 50%; /* Make the image round */
    }

    .profile-info {
        margin-top: 20px;
    }

</style>

<p></p>

<div class="container">

    <div class="card">
            <p hidden><strong>Id:</strong> @Model.Id</p>
            <p hidden><strong>ProfilePicture:</strong> @Model.ProfilePicture</p>
        <div class="col-md-6">
            <h5>@Localizer["Redact"]</h5>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" type="hidden" />

                    <div class="form-group">

                        <label asp-for="Name" class="control-label">
                            <strong>@Localizer["Name"]</strong> @Model.Name
                        </label>

                        <input asp-for="Name" class="form-control" value="@Model.Name"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <p></p>
                    <div class="form-group">

                        <label asp-for="UserName" class="control-label">
                        <strong>@Localizer["Username"]</strong> @Model.UserName
                        </label>

                        <input asp-for="UserName" class="form-control" value="@Model.UserName" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <p></p>
                    <div class="form-group">
                        <label hidden asp-for="ProfilePicture" class="control-label"></label>
                        <input hidden asp-for="ProfilePicture" class="form-control" value="@Model.ProfilePicture" />
                        <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label">
                        <strong>@Localizer["Description"]</strong> @Model.Description
                        </label>
                        <input asp-for="Description" class="form-control" value="@Model.Description" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <p></p>
                    <div class="form-group">
                        <label asp-for="BirthDay" class="control-label">
                            <strong>@Localizer["BirthDay"]</strong>
                        </label>
                        <input asp-for="BirthDay" type="date" value="@Model.BirthDay.ToString("yyyy-MM-dd")" />
                    </div>
                    <p></p>
                    <div class="form-group">
                        <label for="Sex">
                            <strong>Стать:</strong> @Model.Sex
                        </label>
                        <select class="form-control" asp-for="Sex" value="@Model.Sex">
                            <option value="Man">@Localizer["Male"]</option>
                            <option value="Woman">@Localizer["Female"]</option>
                            <option value="Knight">@Localizer["Knight"]</option>
                        </select>
                        <span asp-validation-for="Sex" class="text-danger"></span>
                    </div>
                <p></p>
                <div class="form-group">
                    <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
                </div>

                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["Message"]
                    </div>
                }
            </form>
        </div>
    </div>
</div>