@model GameForum.Models.Review

@{
    ViewData["Title"] = "Edit";
}

<head>
    <meta charset="UTF-8">
    <title>Форум</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LAB1.styles.css" asp-append-version="true" />
</head>

<p></p>
<div class="row">
    <div class="col-md-6 mx-auto">
        <form class="custom-box" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                @Localizer["TopicDescription"]
                <textarea asp-for="Text" class="ckeditor form-control" rows="4" placeholder="@Localizer["Addcomm"]"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <div class="d-flex justify-content-between">
                    <button class="form-button" asp-controller="Forum" asp-action="Main" class="btn btn-secondary"> @Localizer["Main"] </button>
                    <div class="form-group">
                        <input type="submit" asp-route-topicId="@Model.TopicId" value="@Localizer["Save"]" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.ckeditor.com/ckeditor5/33.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('.ckeditor'), {
                toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote', 'undo', 'redo'],
                heading: {
                    options: [
                        { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                        { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                        { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' }
                    ]
                },
                remove: ['imageUpload', 'mediaEmbed']  // Вилучення кнопок додавання фото і медіа
            })
            .catch(error => {
                console.error(error);
            });
    </script>
    <script>
        function confirmSave(event) {
            var isConfirmed = confirm("Ви впевнені, що хочете зберегти зміни?");
            if (!isConfirmed) {
                // Якщо користувач скасовує, відмовитися від відправки форми
                event.preventDefault();
            }
            else {
                document.querySelector('form').submit();
            }
        }
    </script>

}